body{
    background-color: whitesmoke;
}

.my-container{
    margin-top:30px;
    border: 5px black solid;
    border-radius: 30px;
    background-color: white;
}

.small-container{
    width: 90%;
    margin-top:30px;
    margin-bottom:30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 2px black solid;
    border-radius: 20px;
    background-color: whitesmoke;
}

.my-button{
    height:200px;
    justify-content: center;
    cursor:pointer;
    background-color: #eee;
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    vertical-align: middle!important;
}
.my-button:hover{
    background-color: #333;
    color: #eee;
}

.bar-small{
    margin-top:-20px;
}

#myhint{
    color: #777;
    font-size: 0.8em;
}